################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/ExperienceIT_Final_Project/bin
/ExperienceIT_Final_Project/obj/Debug
